@(title: String, projects:List[Project], code:String, token:String)

@migrationPageLayout(utils.Config.getSiteName)("") {
    <div ng-app="yobi.migration">
        <h3>이관 가능 프로젝트 @projects.size 개</h3>
        <form class="form-horizontal" ng-controller="MigrationController as vm">
            <div class="control-group row">
                <label class="control-label" for="inputEmail">필터</label>
                <div class="controls">
                    <input type="text" id="projectName" placeholder="프로젝트 이름">
                    <button class="ybtn ybtn-info" ng-click="vm.redirect()" ng-if="!'@token'" ng-cloak>OSS 접근권한 받기</button>
                    <button class="ybtn ybtn-info" ng-click="vm.getToken(vm.ownerName)" ng-if="'@token'" ng-cloak>조회</button>
                    <button class="ybtn ybtn-info" ng-click="vm.postIssue()" ng-if="'@token'" ng-cloak>이슈입력</button>
                </div>
            </div>
            <div class="row">
                <div class="span7">
                    <div class="left-project-list">
                        <table class="table table-hover migration-list">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Owner</th>
                                    <th>Project Name</th>
                                    <th>Memebers</th>
                                </tr>
                            </thead>
                            <tbody>
                            @for((project, idx) <- projects.zipWithIndex) {
                                <tr ng-click="vm.getProject('@project.owner', '@project.name')">
                                    <td>
                                        <label class="checkbox inline">
                                            <input type="checkbox" id="inlineCheckbox1" value="@project.id">@{idx + 1}.
                                        </label>
                                    </td>
                                    <td>@if( idx != 0 && projects.get(idx-1).owner.equals(project.owner) ) {
                                    } else { @project.owner }</td>
                                    <td class="project-name"><a href="@routes.ProjectApp.project(project.owner, project.name)" target="_blank">@project.name</a></td>
                                    <td>@{project.projectUser.size -1} 명</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="span4">
                    <table class="table" ng-cloak>
                        <tr>
                            <td class="span2 td-title">소유자</td><td>{{vm.project.owner || '&nbsp;'}}</td>
                        </tr>
                        <tr>
                            <td>프로젝트</td><td><strong>{{vm.project.projectName || '&nbsp;'}}</strong></td>
                        </tr>
                        <tr>
                            <td>이슈</td><td><span>{{vm.project.issueCount || '&nbsp;'}}</span></td>
                        </tr>
                        <tr>
                            <td>게시물</td><td><span>{{vm.project.boardCount || '&nbsp;'}}</span></td>
                        </tr>
                        <tr>
                            <td class="td-title">멤버목록<span ng-if="vm.project.members">({{vm.project.members.length}})</span></td>
                            <td>
                                <div ng-repeat="member in vm.project.members">{{member.name}} @@{{member.loginId}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="span2">
                    <div ng-repeat="repo in vm.targetProjects" ng-cloak>{{repo.full_name}}</div>
                </div>
            </div>
            <div>
                <input type="text" name="code" value="@code" ng-model='vm.code' ng-init="vm.code='@code'">
                <input type="text" name="code" value="@token" ng-model='vm.token' ng-init="vm.token='@token'">
            </div>
        </form>
        <form class="form-horizontal" method="post" action="https://oss.navercorp.com/login/oauth/access_token">
            <input type="text" name="client_id" value="bcb6c85038c14c0b8ade">
            <input type="text" name="client_secret" value="e7a2b142550afe1d9262d2008afd2db331f4a0b2">
            <input type="submit">
        </form>
    </div>
}
